<div class = "cennter_home">
<div class="center jumbotron">
  <h1>Welcome to the アンケート！</h1>

  <h2>
    あなたはどっち？
  </h2>
  <% unless logged_in? %>
    <div class="btn_signup">
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-success" %>
    </div>
  <%end%>
</div>
</div>